* {
    text-align: center;
    font-family: monospace;
    padding: 30px;
    margin: 10px;
}

.introduction {
    background-color: #7D7D7D;
}

.main {
    background-color: #9E9E9E;
}

.outro {
    background-color: #BDBDBD;
}